@model WebStore.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<h3>Фамилия: @Model.Surname</h3>
<h3>Имя: @Model.Name</h3>
<h3>Отчество: @Model.Patronymic</h3>
<h3>Возраст: @Model.Age</h3>

